<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>band</key>
		<string>160</string>
		<key>segment</key>
		<string>Phone &amp; CW</string>
		<key>start</key>
		<real>1800000</real>
		<key>end</key>
		<integer>2000000</integer>
		<key>startIsEdge</key>
		<true/>
		<key>endIsEdge</key>
		<true/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>80</string>
		<key>segment</key>
		<string>Extra CW</string>
		<key>start</key>
		<integer>3500000</integer>
		<key>end</key>
		<real>3525000</real>
		<key>startIsEdge</key>
		<true/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>80</string>
		<key>segment</key>
		<string>Adv &amp; Gen CW</string>
		<key>start</key>
		<real>3525000</real>
		<key>end</key>
		<real>3600000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>80</string>
		<key>segment</key>
		<string>Extra Phone</string>
		<key>start</key>
		<real>3600000</real>
		<key>end</key>
		<real>3700000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>80</string>
		<key>segment</key>
		<string>Adv Phone</string>
		<key>start</key>
		<real>3700000</real>
		<key>end</key>
		<real>3800000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>80</string>
		<key>segment</key>
		<string>Gen Phone</string>
		<key>start</key>
		<integer>3800000</integer>
		<key>end</key>
		<integer>4000000</integer>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<true/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>60</string>
		<key>segment</key>
		<string>Channel 1</string>
		<key>start</key>
		<real>5330500</real>
		<key>end</key>
		<real>5333300</real>
		<key>startIsEdge</key>
		<true/>
		<key>endIsEdge</key>
		<true/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>60</string>
		<key>segment</key>
		<string>Channel 2</string>
		<key>start</key>
		<real>5346500</real>
		<key>end</key>
		<real>5349300</real>
		<key>startIsEdge</key>
		<true/>
		<key>endIsEdge</key>
		<true/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>60</string>
		<key>segment</key>
		<string>Channel 3</string>
		<key>start</key>
		<real>5357000</real>
		<key>end</key>
		<real>5359800</real>
		<key>startIsEdge</key>
		<true/>
		<key>endIsEdge</key>
		<true/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>60</string>
		<key>segment</key>
		<string>Channel 4</string>
		<key>start</key>
		<real>5371500</real>
		<key>end</key>
		<real>5374300</real>
		<key>startIsEdge</key>
		<true/>
		<key>endIsEdge</key>
		<true/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>60</string>
		<key>segment</key>
		<string>Channel 5</string>
		<key>start</key>
		<real>5403500</real>
		<key>end</key>
		<real>5406300</real>
		<key>startIsEdge</key>
		<true/>
		<key>endIsEdge</key>
		<true/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>40</string>
		<key>segment</key>
		<string>Extra CW</string>
		<key>start</key>
		<real>7000000</real>
		<key>end</key>
		<real>7025000</real>
		<key>startIsEdge</key>
		<true/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>40</string>
		<key>segment</key>
		<string>Adv &amp; Gen CW</string>
		<key>start</key>
		<real>7025000</real>
		<key>end</key>
		<real>7125000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>40</string>
		<key>segment</key>
		<string>Extra &amp; Adv Phone</string>
		<key>start</key>
		<real>7125000</real>
		<key>end</key>
		<real>7175000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>40</string>
		<key>segment</key>
		<string>Gen Phone</string>
		<key>start</key>
		<real>7175000</real>
		<key>end</key>
		<real>7300000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<true/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>30</string>
		<key>segment</key>
		<string>CW</string>
		<key>start</key>
		<real>10100000</real>
		<key>end</key>
		<real>10150000</real>
		<key>startIsEdge</key>
		<true/>
		<key>endIsEdge</key>
		<true/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>20</string>
		<key>segment</key>
		<string>Extra CW</string>
		<key>start</key>
		<integer>14000000</integer>
		<key>end</key>
		<real>14025000</real>
		<key>startIsEdge</key>
		<true/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>20</string>
		<key>segment</key>
		<string>Adv &amp; Gen CW</string>
		<key>start</key>
		<real>14025000</real>
		<key>end</key>
		<real>14150000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>20</string>
		<key>segment</key>
		<string>Extra Phone</string>
		<key>start</key>
		<real>14150000</real>
		<key>end</key>
		<real>14175000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>20</string>
		<key>segment</key>
		<string>Adv Phone</string>
		<key>start</key>
		<real>14175000</real>
		<key>end</key>
		<real>14225000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>20</string>
		<key>segment</key>
		<string>Gen Phone</string>
		<key>start</key>
		<real>14225000</real>
		<key>end</key>
		<integer>14350000</integer>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<true/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>17</string>
		<key>segment</key>
		<string>CW</string>
		<key>start</key>
		<real>18068000</real>
		<key>end</key>
		<real>18110000</real>
		<key>startIsEdge</key>
		<true/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>17</string>
		<key>segment</key>
		<string>Phone</string>
		<key>start</key>
		<real>18110000</real>
		<key>end</key>
		<real>18168000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<true/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>15</string>
		<key>segment</key>
		<string>Extra CW</string>
		<key>start</key>
		<integer>21000000</integer>
		<key>end</key>
		<real>21025000</real>
		<key>startIsEdge</key>
		<true/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>15</string>
		<key>segment</key>
		<string>Adv &amp; Gen CW</string>
		<key>start</key>
		<real>21025000</real>
		<key>end</key>
		<real>21200000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>15</string>
		<key>segment</key>
		<string>Extra Phone</string>
		<key>start</key>
		<real>21200000</real>
		<key>end</key>
		<real>21225000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>15</string>
		<key>segment</key>
		<string>Adv Phone</string>
		<key>start</key>
		<real>21225000</real>
		<key>end</key>
		<real>21275000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>15</string>
		<key>segment</key>
		<string>Gen Phone</string>
		<key>start</key>
		<real>21275000</real>
		<key>end</key>
		<real>21450000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<true/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>12</string>
		<key>segment</key>
		<string>CW</string>
		<key>start</key>
		<real>24890000</real>
		<key>end</key>
		<real>24930000</real>
		<key>startIsEdge</key>
		<true/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>12</string>
		<key>segment</key>
		<string>Phone</string>
		<key>start</key>
		<real>24930000</real>
		<key>end</key>
		<real>24990000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<true/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>10</string>
		<key>segment</key>
		<string>CW</string>
		<key>start</key>
		<real>28000000</real>
		<key>end</key>
		<real>28300000</real>
		<key>startIsEdge</key>
		<true/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>10</string>
		<key>segment</key>
		<string>Phone</string>
		<key>start</key>
		<real>28300000</real>
		<key>end</key>
		<real>29700000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<true/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>6</string>
		<key>segment</key>
		<string>CW</string>
		<key>start</key>
		<integer>50000000</integer>
		<key>end</key>
		<real>50100000</real>
		<key>startIsEdge</key>
		<true/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>6</string>
		<key>segment</key>
		<string>Phone</string>
		<key>start</key>
		<real>50100000</real>
		<key>end</key>
		<integer>54000000</integer>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<true/>
		<key>useMarkers</key>
		<true/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>WWV</string>
		<key>segment</key>
		<string>2.5</string>
		<key>start</key>
		<integer>2499000</integer>
		<key>end</key>
		<integer>2501000</integer>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<false/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>WWV</string>
		<key>segment</key>
		<string>5.0</string>
		<key>start</key>
		<integer>4999000</integer>
		<key>end</key>
		<integer>5001000</integer>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<false/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>WWV</string>
		<key>segment</key>
		<string>10</string>
		<key>start</key>
		<integer>9999000</integer>
		<key>end</key>
		<real>10001000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<false/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>WWV</string>
		<key>segment</key>
		<string>15</string>
		<key>start</key>
		<real>14999000</real>
		<key>end</key>
		<real>15001000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<false/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>WWV</string>
		<key>segment</key>
		<string>20</string>
		<key>start</key>
		<real>19999000</real>
		<key>end</key>
		<real>20001000</real>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<false/>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>band</key>
		<string>GEN</string>
		<key>segment</key>
		<string></string>
		<key>start</key>
		<integer>0</integer>
		<key>end</key>
		<integer>60000000</integer>
		<key>startIsEdge</key>
		<false/>
		<key>endIsEdge</key>
		<false/>
		<key>useMarkers</key>
		<false/>
		<key>enabled</key>
		<true/>
	</dict>
</array>
</plist>
