<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>band</key>
		<string>160</string>
		<key>segment</key>
		<string>Phone &amp; CW</string>
		<key>start</key>
		<string>1800000</string>
		<key>end</key>
		<string>2000000</string>
		<key>startIsEdge</key>
		<string>1</string>
		<key>endIsEdge</key>
		<string>1</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>80</string>
		<key>segment</key>
		<string>Extra CW</string>
		<key>start</key>
		<string>3500000</string>
		<key>end</key>
		<string>3525000</string>
		<key>startIsEdge</key>
		<string>1</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>80</string>
		<key>segment</key>
		<string>Adv &amp; Gen CW</string>
		<key>start</key>
		<string>3525000</string>
		<key>end</key>
		<string>3600000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>80</string>
		<key>segment</key>
		<string>Extra Phone</string>
		<key>start</key>
		<string>3600000</string>
		<key>end</key>
		<string>3700000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>80</string>
		<key>segment</key>
		<string>Adv Phone</string>
		<key>start</key>
		<string>3700000</string>
		<key>end</key>
		<string>3800000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>80</string>
		<key>segment</key>
		<string>Gen Phone</string>
		<key>start</key>
		<string>3800000</string>
		<key>end</key>
		<string>4000000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>1</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>60</string>
		<key>segment</key>
		<string>Channel 1</string>
		<key>start</key>
		<string>5330500</string>
		<key>end</key>
		<string>5333300</string>
		<key>startIsEdge</key>
		<string>1</string>
		<key>endIsEdge</key>
		<string>1</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>60</string>
		<key>segment</key>
		<string>Channel 2</string>
		<key>start</key>
		<string>5346500</string>
		<key>end</key>
		<string>5349300</string>
		<key>startIsEdge</key>
		<string>1</string>
		<key>endIsEdge</key>
		<string>1</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>60</string>
		<key>segment</key>
		<string>Channel 3</string>
		<key>start</key>
		<string>5357000</string>
		<key>end</key>
		<string>5359800</string>
		<key>startIsEdge</key>
		<string>1</string>
		<key>endIsEdge</key>
		<string>1</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>60</string>
		<key>segment</key>
		<string>Channel 4</string>
		<key>start</key>
		<string>5371500</string>
		<key>end</key>
		<string>5374300</string>
		<key>startIsEdge</key>
		<string>1</string>
		<key>endIsEdge</key>
		<string>1</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>60</string>
		<key>segment</key>
		<string>Channel 5</string>
		<key>start</key>
		<string>5403500</string>
		<key>end</key>
		<string>5406300</string>
		<key>startIsEdge</key>
		<string>1</string>
		<key>endIsEdge</key>
		<string>1</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>40</string>
		<key>segment</key>
		<string>Extra CW</string>
		<key>start</key>
		<string>7000000</string>
		<key>end</key>
		<string>7025000</string>
		<key>startIsEdge</key>
		<string>1</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>40</string>
		<key>segment</key>
		<string>Adv &amp; Gen CW</string>
		<key>start</key>
		<string>7025000</string>
		<key>end</key>
		<string>7125000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>40</string>
		<key>segment</key>
		<string>Extra &amp; Adv Phone</string>
		<key>start</key>
		<string>7125000</string>
		<key>end</key>
		<string>7175000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>40</string>
		<key>segment</key>
		<string>Gen Phone</string>
		<key>start</key>
		<string>7175000</string>
		<key>end</key>
		<string>7300000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>1</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>30</string>
		<key>segment</key>
		<string>CW</string>
		<key>start</key>
		<string>10100000</string>
		<key>end</key>
		<string>10150000</string>
		<key>startIsEdge</key>
		<string>1</string>
		<key>endIsEdge</key>
		<string>1</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>20</string>
		<key>segment</key>
		<string>Extra CW</string>
		<key>start</key>
		<string>14000000</string>
		<key>end</key>
		<string>14025000</string>
		<key>startIsEdge</key>
		<string>1</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>20</string>
		<key>segment</key>
		<string>Adv &amp; Gen CW</string>
		<key>start</key>
		<string>14025000</string>
		<key>end</key>
		<string>14150000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>20</string>
		<key>segment</key>
		<string>Extra Phone</string>
		<key>start</key>
		<string>14150000</string>
		<key>end</key>
		<string>14175000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>20</string>
		<key>segment</key>
		<string>Adv Phone</string>
		<key>start</key>
		<string>14175000</string>
		<key>end</key>
		<string>14225000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>20</string>
		<key>segment</key>
		<string>Gen Phone</string>
		<key>start</key>
		<string>14225000</string>
		<key>end</key>
		<string>14350000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>1</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>17</string>
		<key>segment</key>
		<string>CW</string>
		<key>start</key>
		<string>18068000</string>
		<key>end</key>
		<string>18110000</string>
		<key>startIsEdge</key>
		<string>1</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>17</string>
		<key>segment</key>
		<string>Phone</string>
		<key>start</key>
		<string>18110000</string>
		<key>end</key>
		<string>18168000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>1</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>15</string>
		<key>segment</key>
		<string>Extra CW</string>
		<key>start</key>
		<string>21000000</string>
		<key>end</key>
		<string>21025000</string>
		<key>startIsEdge</key>
		<string>1</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>15</string>
		<key>segment</key>
		<string>Adv &amp; Gen CW</string>
		<key>start</key>
		<string>21025000</string>
		<key>end</key>
		<string>21200000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>15</string>
		<key>segment</key>
		<string>Extra Phone</string>
		<key>start</key>
		<string>21200000</string>
		<key>end</key>
		<string>21225000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>15</string>
		<key>segment</key>
		<string>Adv Phone</string>
		<key>start</key>
		<string>21225000</string>
		<key>end</key>
		<string>21275000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>15</string>
		<key>segment</key>
		<string>Gen Phone</string>
		<key>start</key>
		<string>21275000</string>
		<key>end</key>
		<string>21450000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>1</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>12</string>
		<key>segment</key>
		<string>CW</string>
		<key>start</key>
		<string>24890000</string>
		<key>end</key>
		<string>24930000</string>
		<key>startIsEdge</key>
		<string>1</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>12</string>
		<key>segment</key>
		<string>Phone</string>
		<key>start</key>
		<string>24930000</string>
		<key>end</key>
		<string>24990000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>1</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>10</string>
		<key>segment</key>
		<string>CW</string>
		<key>start</key>
		<string>28000000</string>
		<key>end</key>
		<string>28300000</string>
		<key>startIsEdge</key>
		<string>1</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>10</string>
		<key>segment</key>
		<string>Phone</string>
		<key>start</key>
		<string>28300000</string>
		<key>end</key>
		<string>29700000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>1</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>6</string>
		<key>segment</key>
		<string>CW</string>
		<key>start</key>
		<string>50000000</string>
		<key>end</key>
		<string>50100000</string>
		<key>startIsEdge</key>
		<string>1</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>6</string>
		<key>segment</key>
		<string>Phone</string>
		<key>start</key>
		<string>50100000</string>
		<key>end</key>
		<string>54000000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>1</string>
		<key>useMarkers</key>
		<string>1</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>WWV</string>
		<key>segment</key>
		<string>2.5</string>
		<key>start</key>
		<string>2499000</string>
		<key>end</key>
		<string>2501000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>0</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>WWV</string>
		<key>segment</key>
		<string>5.0</string>
		<key>start</key>
		<string>4999000</string>
		<key>end</key>
		<string>5001000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>0</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>WWV</string>
		<key>segment</key>
		<string>10</string>
		<key>start</key>
		<string>9999000</string>
		<key>end</key>
		<string>10001000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>0</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>WWV</string>
		<key>segment</key>
		<string>15</string>
		<key>start</key>
		<string>14999000</string>
		<key>end</key>
		<string>15001000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>0</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>WWV</string>
		<key>segment</key>
		<string>20</string>
		<key>start</key>
		<string>19999000</string>
		<key>end</key>
		<string>20001000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>0</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
	<dict>
		<key>band</key>
		<string>GEN</string>
		<key>segment</key>
		<string></string>
		<key>start</key>
		<string>0</string>
		<key>end</key>
		<string>60000000</string>
		<key>startIsEdge</key>
		<string>0</string>
		<key>endIsEdge</key>
		<string>0</string>
		<key>useMarkers</key>
		<string>0</string>
		<key>enabled</key>
		<string>1</string>
	</dict>
</array>
</plist>
